################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/APICursantes/FileContentIndex/42fa909c-e0e5-447f-ab7f-78cce1cd9870.vsidx
